/* ================================
login screen design css start here
=================================== */
a, .btn, button, span, svg, p, input, select, textarea, li, img, svg, .transition-3, h1, h2, h3, h4, h5, h6 {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.login {
    padding: 40px 50px;
    max-width: 500px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
   .login input {
      width: 100%;
      display: block;
      box-sizing: border-box;
      margin: 10px 0;
      padding: 14px 12px;
      font-size: 16px;
      border-radius: 2px; 
    }
  
  .login input[type=text],
  .login input[type=password] {
    border: 1px solid #c0c0c0;
    transition: .2s;
  }
  
  .login input:hover {
    border-color: #F44336;
    outline: none;
    transition: all .2s ease-in-out;
  } 
  
  .login button {
    border: none;
    background: #EF5350;
    color: white;
    font-weight: bold;  
    transition: 0.2s;
    margin: 20px 0px;
    width: 100%;
    padding: 14px 12px;
    border-radius: 2px;
  }
  
  .login button:hover {
    background: #383535;  
  }
  
    .login h2 {
      margin: 20px 0 0; 
      color: #EF5350;
      font-size: 28px;
    }
  
  form.login h1 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}
.login input:focus {
    outline: none;
}
form.login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.login-form {
    width: 100%;
    height: 100%;
}
/* ================================
login screen design css end here
=================================== */





/* =========================================  
dashobord home screen design css start here
============================================ */
.expovent__sidebar {
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: #000000;
  padding-bottom: 0px;
  padding: 0 14px;
  z-index: 99;
  transition: all 0.5s ease;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-bottom: 110px;
}
.expovent__sidebar::before {
  position: absolute;
  content: "";
  height: 76px;
  width: 100%;
  left: 0;
  top: 0;
  background: #111111;
  border-right: 1px solid #404040;
}
.expovent__sidebar .logo-details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 76px;
}
.expovent__sidebar .logo__white {
  opacity: 0;
  visibility: hidden;
}
.page__body-wrapper {
  position: absolute;
  inset-inline-end: 0;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  top: 0;
  z-index: 1;
}
.app__header__area {
  background-color: #ffffff;
  position: fixed;
  width: calc(100% - 260px);
  transition: 0.5s;
  top: 0;
  z-index: 10;
}
.app__header-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  padding: 13px 30px;
  transition: 0.3s;
  height: 76px;
  align-items: center;
  column-gap: 20px;
}
.app__header-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  gap: 40px;
}
.bar-icon-2 {
  width: 20px;
  height: 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.bar-icon-2 span {
  width: 100%;
  height: 2px;
  background: #111111;
  display: inline-block;
}
.bar-icon-2 span:nth-child(2) {
  margin-inline-start: -10px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.app__header-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  column-gap: 30px;
}
.p-relative {
  position: relative;
}
.user__dropdown {
  position: absolute;
  top: 58px;
  inset-inline-end: 0px;
  z-index: 9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  padding: 5px 10px;
  background: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.15);
  width: 150px;
}
.user__dropdown ul li {
  list-style: none;
  padding: 10px;
  line-height: 1;
  border-bottom: 1px solid #d9d9d9;
}
.user__dropdown ul li a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  color: #7a7a7a;
}
.user__portfolio {
  position: relative;
}
.user__portfolio {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  gap: 10px;
}
.user__portfolio-thumb img {
  width: 35px;
}
.user__content span {
  font-size: 16px;
  color: #111111;
  position: relative;
  padding-inline-end: 10px;
}
.expovent__sidebar::before {
  position: absolute;
  content: "";
  height: 76px;
  width: 100%;
  left: 0;
  top: 0;
  background: #111111;
  border-right: 1px solid #404040;
}
.breadcrumb__wrapper {
  padding: 35px 0 15px;
  border-bottom: 1px solid #d9d9d9;
}
.breadcrumb__inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  gap: 10px;
}
.breadcrumb__icon i {
  color: #adadad;
}
.breadcrumb__menu ul li:not(:last-child):after {
  display: inline-block;
  content: "/";
  position: absolute;
  inset-inline-end: -18px;
  top: 50%;
  font-size: 14px;
  transform: translateY(-50%) rotateY(40deg);
  color: #111111;
}
.breadcrumb__menu ul li {
  list-style: none;
  position: relative;
  line-height: 1;
}
.breadcrumb__menu ul li.active span {
  color: #f9cf2f;
}
.app__slide-wrapper {
  padding: 0 30px;
  margin-top: 76px;
  position: relative;
  z-index: -1;
}
.breadcrumb__menu ul li:not(:last-child):after {
  font-weight: 600;
}
body {
  background: #f2f2f2 !important;
}
.expovent__sidebar .log__smnall {
  position: absolute;
  left: 42%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.expovent__sidebar .logo__white {
  width: 50px;
}
.breadcrumb__menu ul {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}
.sidebar__inner {
  margin-top: 20px;
  height: 100%;
}
.dlabnav .metismenu {
  display: -webkit-flex;
  flex-direction: column;
}
.dlabnav .metismenu li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
}
.dlabnav .metismenu > li > a {
  height: 50px;
  align-items: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  color: #ffffff;
}
ul#menu {
  padding: 0px;
}
.dlabnav .metismenu > li > a i {
  height: 50px;
  font-size: 18px;
  border-radius: 12px;
  color: #ffffff;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
}
.dlabnav .metismenu > li > a svg {
  width: 20px;
  border-radius: 12px;
  color: #ffffff;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
}
.dlabnav .metismenu > li > a {
  text-decoration: none;
}
.dlabnav .metismenu > li > a {
  display: block;
  line-height: 49px;
}
.sidebar__profile {
  padding-left: 10px;
  margin-bottom: 23px;
  position: absolute;
  bottom: 58px;
  left: 15px;
}
.sidebar__profile a {
  align-items: center;
  gap: 10px;
  display: flex;
  color: #ffffff;
  text-decoration: none;
}
.sidebar__profile a svg {
  height: inherit;
  line-height: initial;
  min-width: inherit;
  width: 20px;
}

.sidebar__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.sidebar__copyright p {
  margin-bottom: 0;
  color: #ffffff;
  margin-top: 15px;
}
.sidebar__profile {
  padding-left: 10px;
  margin-bottom: 23px;
  margin-top: 357px;
}
.sidebar__copyright p {
  font-weight: 300;
  font-size: 14px;
}
.dlabnav .metismenu > li > a {
  font-weight: 300;
}
.sidebar__profile a {
  font-weight: 400;
}
.breadcrumb__menu ul li span {
  font-weight: 500;
}

.breadcrumb__menu ul li span a {
  text-decoration: none;
  color: #000;
}
.sidebar__copyright {
  position: absolute;
  bottom: 25px;
}
.dlabnav .metismenu > li > a:hover {
  background: #d5b112;
}
a#userportfolio {
  text-decoration: none;
}
.user__content span {
  font-weight: 500;
}
.user__dropdown ul {
  padding: 0px;
}

.user__dropdown ul li {
  display: flex;
  gap: 15px;
}

.user__dropdown ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #000;
}

.user__dropdown ul li svg {
  color: #7a7a7a;
}
.bar-icon-2:hover span:nth-child(2) {
  margin-inline-start: 0;
}
.expovent__sidebar.collapsed {
  width: 78px;
  position: fixed;
}
.expovent__sidebar.collapsed .log__smnall {
  opacity: 0;
  visibility: hidden;
}
.expovent__sidebar.collapsed ~ .page__body-wrapper {
  width: calc(100% - 78px);
}
.expovent__sidebar.collapsed .logo__white {
  opacity: 1;
  visibility: visible;
}
.expovent__sidebar.collapsed ~ .page__body-wrapper .app__header__area {
  width: calc(100% - 78px);
}
.expovent__sidebar.collapsed .dlabnav .metismenu li .nav-text {
  opacity: 0;
  visibility: hidden;
}
.expovent__sidebar.collapsed  .sidebar__profile a span.links_name{
  opacity: 0;
  visibility: hidden; 
}
.expovent__sidebar.collapsed  .sidebar__copyright p{
  display: none;
}
.expovent__sidebar.collapsed  .sidebar__profile{
  bottom: 0;
}
.email-enable {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 8;
}
.user__content svg {
  font-size: 14px;
  color: #8b8a8a;
}
.user__dropdown ul li:last-child {
  border: none;
}
.user__dropdown ul {
  margin-bottom: 0px;
}
.email-serach-box {
  padding: 50px 0px;
}

.email-serach-box form.serach {
  position: relative;
}

.email-serach-box form.serach input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 4px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}

.email-serach-box form.serach button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 11px 20px;
  border: transparent;
  background: #f9cf2f;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
  transition: 0.3s;
}

.email-serach-box form.serach input:focus {
  border-color: #e4c237;
  outline: none;
}

.email-serach-box form.serach button:hover {
  background: #000;
  color: #fff;
}
.lms-table-wrap table {
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(247, 66, 111, 0.03);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  padding: 30px 30px 30px;
  display: inline-block;
  width: 100%;
}
.lms-table-wrap {
  overflow-y: hidden;
  overflow-x: auto;
  width: 1218px;
}

.lms-table-wrap table {
  width: 1408px;
  margin-bottom: 0;
  max-width: none;
}
.lms-table-wrap::-webkit-scrollbar {
  width: 6px;
}
.lms-table-wrap::-webkit-scrollbar:horizontal {
  height: 6px;
}
.lms-table-wrap::-webkit-scrollbar-track {
  background-color: rgba(204, 204, 204, 0.3);
}
.lms-table-wrap::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(216, 215, 215, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.lms-table-wrap table tbody tr td {
  font-weight: 400;
  font-size: 15px;
}
.lms-table-wrap table thead tr th {
  font-size: 16px;
  font-weight: 500;
}
/* =========================================  
dashobord home screen design css end here
============================================ */
